body {
    background-color: #454242;
    background-repeat: no-repeat;
    font-family: 'Space Mono', monospace;
    color: #ffffff;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-image {
    height: 450px;
    width: auto;
    border-radius: 50%;
}

.navbar {
    background-color: #343a40;
}

.navbar-nav .nav-link {
    color: white;
}

.jumbotron {
    padding: 3rem;
    margin-bottom: 0;
}

.transition {
    transition: 0.5s;
}

