body{
    background-color: #454242;
    background-repeat: no-repeat;
    font-family: nunito;
    color: #ffffff;
    background-size: auto;
    font-family: 'Space Mono', monospace;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
     /* Set a fixed height for the container */
}
.rounded-image {
    height: 450px; /* Set the height of the image */
    width: auto; /* Let the width adjust automatically to maintain aspect ratio */
    border-radius: 100%; /* Make the image rounded */
}
.navbar-brand{
    font-size: 20px;
    margin-right: 20px;
}
.font-about{
    font-size: medium;
}
.font-school{
    color: black
}
.transition{
    transition: 5ms;
}